loki:
  deploymentMode: SingleBinary # Critical for Laptop! Microservices mode needs S3/DynamoDB
  loki:
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'
    schemaConfig:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      size: 5Gi
